<% layout("/layouts/boilerplate")%>
    <div class="row show ">
        <h1 class="text-center">EDIT Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/edited/<%=campground._id%>" method="POST"" novalidate class=" form-group
                needs-validation" enctype="multipart/form-data">
                <div class=" mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]"
                        value="<%=campground.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        please enter the Camp name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]"
                        value="<%=campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        please enter the Camp location.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add Images</label>
                    <input type="file" class="form-control" id="image" name="image" max="10" multiple>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" name="campground[price]" class="form-control"
                            value="<%=campground.price  %>" id="price" placeholder="0.00" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            please enter the valid price.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea type="text" class="form-control" id="description" name="campground[description]"
                        required><%=campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        please enter the Camp description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="">Delete Images</label>
                    <ul class="editImg">
                        <% campground.image.forEach((img,i)=> {%>
                            <li class="editImgList">
                                <input type="checkbox" id="myCheckbox<%=i%>" class="myCheckbox" name="deleteImage[]"
                                    value="<%=img.filename %>">
                                <label class="label" for="myCheckbox<%=i%>"><img src="<%=img.thumbnail%>"
                                        class=" img-fluid" /></label>
                            </li>
                            <%}) %>
                    </ul>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success mt-3">Update Campground</button>
                </div>

            </form>
        </div>
    </div>
<script>

 const input = document.querySelector('#image');

        // Listen for files selection
        input.addEventListener('change', (e) => {
            // Retrieve all files
            const files = input.files;

            // Check files count
            if (files.length > 10) {
                alert("Max upload is 10")
                input.value = null
                return;
            }
            // TODO: continue uploading on server
        });
</script>